.App {
    /* text-align: center; */
    /* display: flex; */

    
  }

  .docWrapper{
      width: 100vw;
      border: black 2px solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .rentalDisplay{
      /* text-align: left; */
      border: black 2px solid;
      box-shadow: 10px 10px 5px grey;
      width: 350px;
      height: 350px;
      font-size: 18px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 0 0 0 40px;
      margin: 10px 10px 10px 10px;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 */


  }
  
  .houseImage{
      /* width: 150px; */
      height: 150px;
      border: 1px black solid;
  }

  .displayWrapper{
    width: 90%;  
    display: flex;
      justify-content: center;
      flex-wrap: wrap;
      /* padding: 20px; */
      /* background: lightblue; */
      margin: 0 auto;

  }

  .inputForm{
      margin: 10px;
  }

  .editForm{
      /* border: black 1px solid; */
      margin: 10;
      display: flex;
      flex-direction: column;
      font-size: 15px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
  }

  .editForm p{
      margin: 3px;
  }

  .editForm input{
      float: right;
      margin: 0 100px 0 0;
  }
  
  header{
        height: 100px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-image: url('https://norcalfsbo.files.wordpress.com/2017/03/cropped-beautiful-house-and-nature-landscape-website-header.jpg'); */
        background-size: 100%;
        font-size: 15px;
        border-bottom: 1px black solid;

  }

  .headerSection1{
      /* border: 1px black solid; */
      height: 70px;
      width: 300px;
      margin: 30px;
      color: white;
      font-size: 15px;
      /* border: 2px black solid; */


  }

  .headerSection1 img{
      height: 100%;
  }

  .headerSection2{
    /* border: 1px black solid; */
    height: 40px;
    width: 200px;
    color: black;  
    
}

.headerSection2 input{
    font-size: 15px;
}

.addRentalSection{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    /* border: 2px green solid; */
   

}

.test{
    /* border: green solid 2px; */
}


.addRentalForm {
    width: 300px;
    /* border: 1px black solid; */
    padding: 15px;
    background: lightseagreen;
    text: 15px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    /* border: blue 2px solid; */
}

.addRentalForm input{
    float: right;
}

.addRentalForm p{
    margin: 5px;
}

.addRentalForm button{
    margin: 10px;

}

.addbutton{
    background: lightseagreen;
    font-size: 20px;
    color: white;
    border-radius: 10%;
    margin: 0 20px 0 0;
}
.addbutton img {
    height: 60px;
    border: none;
}

.bold{
    font-weight: bold;

}

.updaterentalbutton{
   width: 30%;
}

