.label {
    color: black;
    font-size: 28px;
    line-height: 100px;
    width: 26px;
    margin-right: 10px;
    float: right;
    display: none;
}

.menu{
    margin-right: 40px;

    

}

.menu a {
    text-decoration: none;
    /* margin: 0 10px; */
    line-height: 100px;
    /* color: black; */
    font-size: 18px;
    /* font-weight: bold; */
    clear: right;
    text-align: left;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #333333;
   text-decoration: none;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
    


}

.menu a:hover {
    color: lightblue;
    
}

.reports {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}

.reports a {
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
    /* font-weight: bold; */
    color: black;
    transition: color 0.2s linear;
   -webkit-transition: color 0.2s linear;
   -moz-transition: color 0.2s linear;


}

.reports a:hover{
    color: lightblue;
}

.edit2 {
    position: relative;
}

.hoverdelete {
    transition: color 0.2s linear;
   -webkit-transition: color 0.2s linear;
   -moz-transition: color 0.2s linear;
}

.hoverdelete:hover {
    color: red;
}

.hoveredit {
    transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
.hoveredit:hover {
    color: green;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.edit2:before {
    content: "\f014";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
    



#toggle {
    display: none;
}

@media screen and (max-width: 1240px){
   
    
    .label{
        display: block;
        
    }
    .menu{
        text-align: right;
        width: 300px;
        z-index: 10;
        display: none;
        position: absolute;
        left: 0;
        top: 100px;
        

        

    }
    .menu a {
        display: block;
        background: black;
        margin: 0;
        line-height: 40px;
        padding: 0 0 0 50px;
        color: white;

    }
    #toggle:checked + .menu{
        display: block
    }

    .logo {
        font-size: 25px;
    }

    /* .userNameDisplay{
        display: none;
    } */
    
}

@media screen and (max-width: 500px){

    .label{
        display: block;
    }
    .menu{
        text-align: left;
        width: 100%;
        z-index: 10;
        display: none;
    }
    .menu a {
        display: block;
        background: black;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block
    }

    .logo {
        font-size: 25px;
    }
    

   
    
    

    
}