.label {
    color: black;
    font-size: 28px;
    line-height: 100px;
    width: 26px;
    margin-right: 10px;
    float: right;
    display: none;
}

.menu{
    margin-right: 40px;
    

}

.menu a {
    text-decoration: none;
    /* margin: 0 10px; */
    line-height: 100px;
    color: black;
    font-size: 18px;
    /* font-weight: bold; */
    clear: right;
    text-align: left;
    padding-left: 10px;
    font-family: sans-serif;
    

}

#toggle {
    display: none;
}

@media screen and (max-width: 1240px){
   
    
    .label{
        display: block;
        
    }
    .menu{
        text-align: right;
        width: 100%;
        z-index: 10;
        display: none;
        position: absolute;
        left: 0;
        top: 100px;
        

        

    }
    .menu a {
        display: block;
        background: black;
        margin: 0;
        line-height: 40px;
        padding: 0 0 0 50px;
        color: white;

    }
    #toggle:checked + .menu{
        display: block
    }

    .logo {
        font-size: 25px;
    }

    .userNameDisplay{
        display: none;
    }
    
}

@media screen and (max-width: 500px){

    .label{
        display: block;
    }
    .menu{
        text-align: left;
        width: 100%;
        z-index: 10;
        display: none;
    }
    .menu a {
        display: block;
        background: black;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block
    }

    .logo {
        font-size: 25px;
    }

   
    
    

    
}